@media (max-width:991px) {
    h1{
        font-size: 40px !important;
        font-weight: 900;
    }
    body {
        background: linear-gradient(to right,#6e599b80, rgb(255, 255, 255));
  
     
    }
}
body{
    position: relative;
}
.square span{
    list-style: none;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    position: absolute;
    opacity: 0;
    top: 30vh;
    left: 30vw;
    background-color: rgba(255, 255, 255, 0);
    animation: ani 5s linear infinite;
  }

  .square span:nth-child(2){
    top: 50vh;
    left: 50vw;
    animation-delay: 1s;
  }
  .square span:nth-child(3){
    top: 90vh;
    left: 90vw;
    animation-delay: 2s;
  }
  .square span:nth-child(4){
    top: 10vh;
    right: 90vw;
    animation-delay: 1.5s;
  }
  .square span:nth-child(5){
    top: 38vh;
    left: 70vw;
    animation-delay: 0.5s;
  }
  .square span:nth-child(6){
    top: 60vh;
    left: 20vw;
    animation-delay: 3s;
  }
  .square span:nth-child(7){
    top: 50vh;
    left: 10vw;
    animation-delay: 1.5s;
  }
  @keyframes ani {
    0%{
      transform: scale(0);
      opacity: 1;
    }  
    100%{
      transform: scale(3);
      border-radius: 20px;
      rotate: 360deg;
      opacity: 0;
      background: rgba(39, 85, 223, 0.393);
    } 
  }
  
  /* Star designing */
  .My-star span{
    position: absolute;
    width: 30px;  
    aspect-ratio: 1;
    opacity: .3;
    background: #F8CA00;
    clip-path: polygon(50% 0,
      calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
      calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
      calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
      calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
     ); 
     animation: starAni 2.5s linear infinite;
  }
  .My-star span:nth-child(2){
    top: 70vh;
    left: 60vw;
    animation-delay: 0.5s;
  }
  .My-star span:nth-child(3){
    top: 80vh;
    left: 800vw;
    animation-delay: 1.3s;
  }
  .My-star span:nth-child(4){
    top: 30vh;
    right: 90vw;
    animation-delay: 1.9s;
  }
  .My-star span:nth-child(5){
    top: 38vh;
    left: 30vw;
    animation-delay: 0.5s;
  }
  .My-star span:nth-child(6){
    top: 55vh;
    left: 50vw;
    animation-delay: 3s;
  }
  .My-star span:nth-child(7){
    top: 50vh;
    left: 10vw;
    animation-delay: 1.5s;
  }
  @keyframes starAni {
    0%{
      transform: scale(0);
      opacity: 1;
    }  
    100%{
      transform: scale(3);
      
      
      opacity: 0;
      background: rgba(39, 85, 223, 0.393);
    } 
  }



@media (max-width:600px) {
    h1{
        font-size: 30px !important;
        margin: 0 10px;
        font-weight: 900;
    }
    .textone span{
        font-size: 22px;
        margin: 0px 10px;

    }
    .myCard{
        margin: 0 auto;
     
    }
    h2{
        font-size: 28px !important;
    }
 
     h3{
        font-size: 1.5rem !important;
     }
    p{
        margin: 0 10px;
        font-size: 16px;
    }
    .textone a{
        margin: 10px 10px;
    }
    
    body {
        background: linear-gradient(to right,#7543d93f, rgb(255, 255, 255));
        
        
    }
}